.container {
  width: 100%;
  top:0;
  left: 0;
  /* padding-top: 40%; 1:1 Aspect Ratio */
  /* margin-top: 2rem; */
  position: fixed; /* If you want text inside of it */
}
.button-container {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  position: relative; /* If you want text inside of it */
  justify-content: center;
}
@media screen and (max-width : 500px) {
  .container {
    width: 80%;
    position: relative; /* If you want text inside of it */
  }
}
.modal {
  position: absolute;
  width: 40%;
  margin-top: 2rem;
  margin-left: 30%;
  z-index: 10;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.33); 
  box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.33);
}


.ball {
  height: 15px;
  width: 15px;

  border-radius: 100%;
  transition: all ease-in-out 100ms;
}

.ball:hover {
  transform: scale(1.1);
}

.ball:active {
  transform: scale(0.9);
}

.green {
  background-color: #4AD4C5;
}

.red {
  background-color: #FD61AA;
}

.yellow {
  background-color: #FFCE67;
}
/* 
.ballred {
  height: 15px;
  width: 15;
  background-color: #FD61AA;
  border-radius: 100%;
}

.ballyellow {
  height: 15px;
  width: 15;
  border-radius: 100%;
} */

.panel {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* -webkit-box-align: center; */
  /* align-items: center; */
  min-height: 3rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.07);
  border-radius: 4px 4px 0px 0px;
  transition: background-color 0.4s ease-out 0s;
}
.balls {
  order: 2;
  /* align-self: flex-end; */
  padding-top: 1rem;
  margin-right: 2rem;
  

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.model-heading {
  order: 1;
  margin-left: 2rem;
  padding-top: 1rem;
  min-height: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size:medium;
}

.popover__content {
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -.7rem;
  transform: translate(0, 10px);
  background-color: #424141b7;
  padding: .2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: 10;
  content: "";
  right: calc(50% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #424141b7 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.ball:hover .popover__content {
  z-index: 20;
  top: 16px;

  color: white;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 5px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}


.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.cropper-container {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.backdrop {
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.33);
}