.test-wrapper{
    display: inline;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    overflow-y: scroll;

}
.test-label {
    flex:1;
    margin-left: 2rem;
    color: rgb(57, 192, 197);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.test-date {
    flex:1;
    color: rgb(57, 192, 197);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.test-download-attachment {
    flex:.5;
    width: 2rem;
    height: 2rem;

}
.test-edit {
    flex:.5;
    width: 1.3rem;
    height: 1.3rem;
}
.row {
    display: flex;
    flex: 1;
    margin-top: 1rem;
  }
  .scale {
    transition: transform 0.1s;
  }
  .scale:hover {
    transform: scale(1.2);
  }
  .EditTestinputField {
    width: 100%;
    padding-left: 12px;
    box-shadow: none !important;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 8px;
    padding: 10px 15px;
   
  }
  .EditTestButton {
    margin-top: 25px;
    border-radius: 50px;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
     color: white;
     padding: 10px ;
     border-width: 0ch;
     margin-left: 35%;
     width:30%;
  }
  .EditTestButton:hover {
    transform: translateY(-3px);
  
  }
  .EditTestButton:active {
    transform: translateY(-1px);}