.card {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 6rem;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(133, 131, 131);
  transition: all 100ms ease-in;
}
@media screen and (max-width:1000px) {
  .card {
    width: 40%;
  }
  
}
@media screen and (max-width:800px) {
  .card {
    width: 60%;
  }
  
}

@media screen and (max-width:700px) {
  .card {
    width: 70%;
  }
  
}
@media screen and (max-width:250px) {
  .card {
    display: none;
  }
  
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgb(133, 131, 131);
  
}
