.header {
  z-index: 4;
  margin-top: -12rem;
  height: 10rem;
  width: 100%;
  border: #707070;
  box-shadow: 0px 0px 5px rgb(133, 131, 131);
  position: fixed;
  display: block;
  background-color: #A3C8CE;
}